.redressed{
  font-family: 'Redressed', cursive;
}

.italiana{
  font-family: 'Italiana', serif;
}

@keyframes slowOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slowOpen {
  animation-name: slowOpen;
  animation-duration: 1s;
  animation-timing-function: ease;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
